<div layout="row" id="game-container">
  <div flex="20" class="game-players">
    <md-list flex>
      <md-list-item ng-repeat="player in gcc.players">
        <img ng-src="https://cdn2.iconfinder.com/data/icons/weird-social-icon-pack/70/twitch-128.png" class="md-avatar" alt="{{player.name}}" />
        <p>
          {{ player.username }}<br>
          <strong>
            <small>
              <span ng-bind="player.gameData.score"></span>&nbsp;<span ng-bind="player.gameData.unit"></span>
            </small>
          </strong>
        </p>

      </md-list-item>
    </md-list>
    <div layout-padding>
      <md-divider></md-divider>
    </div>
    <div layout-padding>
      <p ng-if="gcc.players.length < 2">Waiting for at least one more player...</p>
      <md-input-container class="md-block" ng-if="gcc.players.length >= 2" ng-init="gcc.state.init()">
        <md-button class="md-raised md-primary md-round" ng-click="gcc.start()" ng-disabled="gcc.state.isStart || gcc.state.isSuccess">
          <span ng-if="gcc.state.isStart">Please wait...</span>
          <span ng-if="gcc.state.isSuccess">Game On</span>
          <span ng-if="!gcc.state.isSuccess && !gcc.state.isStart">Start</span>
        </md-button>
      </md-input-container>
    </div>
  </div>
  <div flex="80" class="game-board">
    <div class="curtain" ng-if="gcc.reveal.counter != 0">
      <h1 class="md-display-4" ng-bind="gcc.reveal.counter">
      </h1>
    </div>
    <div class="game" ng-if="gcc.reveal.counter == 0">
      <games-clickit config="gcc.config"></games-clickit>
    </div>
  </div>
</div>
