<md-card md-theme="dark-grey" id="map-control">
  <md-card-title>
    <md-card-title-text>
      <span class="md-headline">
        <a href="/"><span class="logo"></span></a>
        <span>Localitics</span>
      </span>
    </md-card-title-text>
  </md-card-title>
  <md-card-content ng-show="mcc.cities.length > 0">
    <md-input-container>
      <label>Select City</label>
      <md-select name="city" ng-model="selectedCity" required>
        <md-option ng-repeat="city in mcc.cities" ng-value="city">
          {{city}}
        </md-option>
      </md-select>
    </md-input-container>
    &nbsp;&nbsp;
    <md-input-container>
      <label>Select Type</label>
      <md-select name="favoriteColor" ng-model="selectedType" required>
        <md-option ng-repeat="point in mcc.dataPoints" ng-value="point.value">
          {{point.view}}
        </md-option>
      </md-select>
    </md-input-container>
    <timeline timeline-config="timelineConfig"></timeline>
    <br><br>
    <legend ng-if="state.isSuccess"></legend>
    <br>
    <search ng-if="state.isSuccess" selected-city="selectedCity"></search>
  </md-card-content>
</md-card>
