<md-card md-theme="dark-grey">
  <md-card-title>
    <md-card-title-text>
      <span class="md-headline">
        <a href="/"><span class="logo"></span></a>
        <span>Localitics</span>
      </span>
    </md-card-title-text>
  </md-card-title>
  <md-card-content>
    <md-input-container>
      <label>Select City</label>
      <md-select name="city" ng-model="selectedCity" required md-no-float>
        <md-option ng-repeat="city in mcc.cities" ng-value="city">
          {{city}}
        </md-option>
      </md-select>
    </md-input-container>
    &nbsp;&nbsp;
    <md-input-container>
      <label>Select Type</label>
      <md-select name="favoriteColor" ng-model="type" required>
        <md-option>Rent</md-option>
        <md-option>Search</md-option>
        <md-option>SAV</md-option>
      </md-select>
    </md-input-container>
    <legend></legend>
  </md-card-content>
  <!-- <md-card-actions layout="row" layout-align="start center">
    <md-button>Go</md-button>
  </md-card-actions> -->
</md-card>
