// bower:scss
// endbower

body {
  background: #dedede;
  transition: all ease 1s;
}

h1 {
  font-weight: 200 !important;
}

.page-index {
  border-top: 5px solid rgba(255,64,129, 1);
  h1 {
    text-align: center;
    font-weight: 100;
  }
  .tag-line {
    margin-top: -20px;
    text-align: center;
    opacity: 0.3;
  }
}

.md-large {
  font-size: 20px;
  font-weight: 400;
  padding: 8px 36px;
}

md-input-container.md-large-input {
  font-size: 20px;
}

.md-round {
  border-radius: 100px;
}

md-option {
  text-transform: capitalize;
}


md-progress-circular {
  path {
    stroke-width: 5px !important;
  }
}

a {
  &:hover {
    cursor: pointer;
  }
}

#games-list {
  small {
    font-size: 12px;
    font-weight: bold;
    opacity: 0.5;
  }
}

.page-all-games {
  h1.md-display-3 { opacity: 0.5; }
}
