<!-- md-search-text-change="ctrl.searchTextChange(ctrl.searchText)" -->
<!-- md-selected-item-change="ctrl.selectedItemChange(item)" -->

<md-autocomplete
  md-theme="dark-grey"
  md-selected-item="sc.selectedItem"
  md-search-text="sc.searchText"
  md-items="item in sc.querySearch(sc.searchText)"
  md-item-text="item"
  md-min-length="0"
  md-selected-item-change="sc.selectedItemChange(item)"
  placeholder="Find a locality">
  <md-item-template>
    <span md-highlight-text="sc.searchText" md-highlight-flags="^i">{{item}}</span>
  </md-item-template>
  <md-not-found>
    No localities matching "{{sc.searchText}}" were found.
    <!-- <a ng-click="ctrl.newState(ctrl.searchText)">Create a new one!</a> -->
  </md-not-found>
</md-autocomplete>
