<div id="games-list">
  <div ng-if="gl.state.isStart">
    <md-progress-circular class="md-accent" md-diameter="100px"></md-progress-circular>
  </div>
  <md-list flex ng-if="gl.state.isSuccess">
    <md-list-item ng-repeat="game in gl.games">
      <img ng-src="https://cdn4.iconfinder.com/data/icons/gradient-ui-1/512/games-512.png" class="md-avatar" alt="{{game.name}}" />
      <p>
        {{ game.name }}
        <br>
        <small>
          <span ng-if="game.status">Available</span>
          <span ng-if="!game.status">Coming soon</span>
        </small>
      </p>
      <md-button class="md-secondary md-accent md-round md-raised" ng-disabled="!game.status || game.state.isStart" ng-click="gl.join(game)">
        <span ng-if="game.state.isStart">Joining</span>
        <span ng-if="!game.state.isStart">Join</span>
      </md-button>
    </md-list-item>
  </md-list>
</div>
