<!-- <div id="mouse-box" >
  <md-content flex layout-padding>
    <h3 class="md-title" ng-bind="mbc.data.title"></h3>
  </md-content>
</div> -->
<md-content flex ng-if="mbc.state.show" style="top: {{mbc.state.posY -30 + 'px'}}; left: {{mbc.state.posX +30 +'px'}}" class="md-whiteframe-24dp" id="mouse-box">
  <md-card >
    <md-card-header>
      <md-card-header-text>
        <span class="md-title" ng-bind="mbc.data.title"></span>
      </md-card-header-text>
    </md-card-header>
    <md-card-content>
      <table>
        <tr ng-repeat="(key, value) in mbc.data.stats.params" ng-if="value">
          <td ng-bind="key | uppercase"></td>
          <td>-</td>
          <td ng-bind="value"></td>
        </tr>
      </table>
    </md-card-content>
  </md-card>
</md-content>
